.profile__edit-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .profile__edit-row {
      margin-top: 10px;
    }
}
