@import url('./__container/pop-up__container.css');
@import url('./__close-button/pop-up__close-button.css');
@import url('./__close-icon/pop-up__close-icon.css');
@import url('./__form/pop-up__form.css');
@import url('./__form-title/pop-up__form-title.css');
@import url('./__form-input/pop-up__form-input.css');
@import url('./__input/pop-up__input.css');
@import url('./__button/pop-up__button.css');
@import url('./_opened/pop-up_opened.css');

.pop-up {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}

