.elements {
    width: 100%;
    margin: 48px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-gap: 21px 18px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .elements {
        grid-template-columns: repeat(3, 230px);
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .elements {
      grid-template-columns: 90%;
      justify-content: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .elements {
      grid-template-columns: 282px;
      justify-content: center;
  }
}
