.profile__name {
  margin: 0;
  height: 3.5rem;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.5;
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .profile__name {
    height: 2.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
  }
}
