@import url('./__photo/element__photo.css');
@import url('./__bottom/element__bottom.css');
@import url('./__name/element__name.css');
@import url('./__like/element__like.css');
@import url('./__icon/element__icon.css');
@import url('./__del/element__del.css');

.element {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
